<table>
  <tr>
    <td align="center">
      <form id="pokeinput">
        <%= form_for :input do |f| %>
          <%= f.text_field @text %>
        <% end %>
      </form>
    </td>
  </tr>
</table>
