<table>
  <tr>
    <td align="center">
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
      <script type="text/javascript" src="js/script.js"></script>
      <form id="pokeinput">
        <%= form_for :input do |f| %>
          <%= f.text_field @text %>
        <% end %>
      </form>
    </td>
  </tr>
</table>
